{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@components": "./src/components"
        },
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ]
  ]
}