{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@components": "./src/components",
          "@store": "./src/store",
          "@static": "./src/static",
          "@utils": "./src/utils",
          "@models": "./src/models"
        },
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ]
  ]
}
